<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>
<!--
<p>
CLASS:
<code>
  .nav-pills.nav-wizard > li a
</code>
<br/>
CLASS CONTENTS:
<code>
    padding: 8px 15px;
    display: -webkit-box;

</code>

</p>

<ul class="nav nav-pills nav-wizard">
    <li class="active"><a href="#" data-toggle="tab">Home</a></li>
    <li><a href="#" data-toggle="tab">About</a></li>
    <li><a href="#" data-toggle="tab">Contact</a></li>
</ul>
-->
<hr/>

	<div class="row">
		<div class="col">
			<div ngbDropdown class="d-inline-block">
				<button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Dropdown button</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem>Action</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else here</button>
        </div>
      </div>
    </div>
  </div>